@charset "utf-8"
    
@font-face {
    font-family: "pressStart";
    src : url(../ressources/fontes/PressStart2P-Regular.ttf) format("truetype");
}
    
/*HEADER*/    
header {
    height: 40px;
    text-align: left;
    display: inline-block;
    background-color: #C1C046;
}

header *{
    font-family: pressStart, sans-serif;
    font-size: 16px;
    display: inline-block;
    text-align: left;
}

header div {
    display: inline-block;
}

header #logo *{
    white-space: nowrap;
    display: inline-block;
    height: auto;
}

header #logo h1 {
    margin: 0, 0, 0, 0;
    display: inline-block;
}

